body{
    background-color: antiquewhite;
}
h1{
    background-color: yellow;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
/* Estilo para el contenedor del mapa */
#map {
    height: 100%; 
    width: 100%;   
}
